.card {
    @extend %border-radius;
    overflow: hidden;
    position: relative;
    height: $height-card;
    width: $width-card;
    background-color: $color-1;
    box-shadow: $box-shadow-container;
    color: $color-text;
    font-size: $font-size-card;
    &__content {
        @include position-absolute(0, unset, unset, 0);
        padding: $gutter-size/3;
        padding-top: $gutter-size * 2;
    }
    &__title {
        font-weight: bold;
        line-height: 1.2;
        color: $color-1;
    }
    &__tags {
        @extend %transition;
        transform: translate(-150%);
    }
    &__image {
        @extend %border-radius;
        filter: brightness($brightness-darker-soft);
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        .card__image {
            filter: brightness($brightness-darker-hard);
        }
        .card__tags {
            transform: translate(0);
        }
    }
}
