/* class applies to select element itself, not a wrapper element */
.input-select {
    font-weight: $font-weight-bold;
    color: $color-text;
    border: none;
    box-shadow: none;
    border-radius: $border-radius-button;
    appearance: none;
    &:focus {
        border-color: none;
        box-shadow: $box-shadow-container;
        color: $color-text;
        outline: none;
    }
    &::-ms-expand {
        display: none;
    }
    option {
        font-weight: normal;
    }
    &:disabled,
    &[aria-disabled="true"] {
        color: $color-text-light;
        border-color: $color-4;
    }
}
